@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500&display=swap");
@import "./components/header.css";
@import "./components/main.css";

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
/* 범위 큰 거 부터 순서대로 */
@media (max-width: 1700px) {
    html {
        font-size: 9px;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 1000px) {
    html {
        font-size: 7px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-size: 1.6rem;
    font-family: "Noto Sans KR";
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    letter-spacing: -0.06rem;
    color: #111;
    font-family: "Noto Sans KR", "Karla", sans-serif;
}
