@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@media (max-width: 1700px) {
    html {
        font-size: 9px;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Noto Sans KR";
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    letter-spacing: -0.06rem;
    color: #111;
    font-family: "Noto Sans KR", "Karla", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 10rem;
    background-color: white;
}

header > div {
    /* background-color: burlywood; */
    margin: 0 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plani__logo {
    background: no-repeat url("./img/logo.svg");
}

#plani__nav {
    /* background-color: wheat; */
    flex: 1;
    height: 100%;
    margin: 0 auto;
}

#plani__nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#plani__nav ul li {
    color: #111111;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 3.5rem;
    font-family: "Karla";
}

.plani__headerBtn {
    background-color: black;
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.plani__headerBtn span {
    display: block;
    background-color: #ecf0f1;
    width: 2rem;
    height: 0.2rem;
    margin: 0.4em auto;
}

/* main */
main {
    height: 100%;
    /* padding: 0 9rem; */
    padding-top: 10rem;
    padding-bottom: 14.8rem;
    z-index: -1;
}

main .main__layout {
    width: 100%;
    height: 100%;
    position: relative;
}

main .main__progress {
    background-color: #e1e1e1;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

main .main__progress .main__fillBar {
    background: linear-gradient(to right, #111 40%, #04a6e1 60%);
    height: 100%;
    animation: fill 5s;
    animation-timing-function: ease-in-out;
}

main .main__progress .main__fillBar.wait {
    animation: none;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.main__inner {
    width: 100%;
    height: 100%;
    margin: 0 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main__left {
    /* background-color: thistle; */
    display: flex;
    align-items: center;
}

.main__buttons {
    /* background-color: teal; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    height: 12rem;
    width: 12rem;
    position: relative;
}
/* 
.main__buttons {
    animation: inactiveBtn 0.5s;
} */

.main__buttons .main__button {
    background-color: black;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 12rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#main__prevArrow,
#main__nextArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#main__prevArrow.visible {
    position: absolute;
    top: -50%;
}
#main__nextArrow.visible {
    position: absolute;
    top: 150%;
}

#main__prevArrow img,
#main__nextArrow img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
/* z-index는 position:absolute와 함께 */

#main__prevArrow img.hidden,
#main__nextArrow img.hidden {
    display: none;
}
/* .main__buttons,
.main__button,
#main__prevArrow,
#main__nextArrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main__button,
#main__prevArrow,
#main__nextArrow {
    cursor: pointer;
}

.main__left .main__buttons {
    height: 12rem;
    width: 12rem;
    color: #fff;
    text-align: center;
}

.main__buttons .main__button {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: none;
    line-height: 12rem;
    background-color: #111;
    font-weight: 400;
    z-index: 1;
}
.main__buttons #main__prevArrow,
.main__buttons #main__nextArrow {
    z-index: 0;
    transition: 0.3s;
    width: 12rem;
}

.main__buttons #main__prevArrow.on {
    transform: translateY(-18rem);
}

.main__buttons #main__nextArrow.on {
    transform: translateY(6rem);
}

#main__prevArrow img,
#main__nextArrow img {
    height: 100%;
} */

.main__left .main__title {
    font-size: 9.4rem;
    color: #111;
    font-weight: 700;
    font-family: "Noto Sans KR", "Karla", sans-serif;
    line-height: 1.5;
    padding-left: 7rem;
}

.main__title .main__topTitle {
    display: flex;
}

.main__topTitle .main__titleSlide {
    margin-right: 1.5rem;
    margin-bottom: 4rem;
    height: 141px;
    overflow-y: hidden;
}

.main__titleSlide .main__slideWrap {
    height: calc(141px * 9);
}
